:root {
  --content-width: 70vw;
  --content-height: 4vh;
}

/* 키오스크메인페이지 리턴 버튼 */
.btn__return__kiosk__main {
  border: 0;
  margin-left: 20px;
  margin-top: 20px;
}

.a__btn__return__main {
  color: var(--btn-color);
}

.icon__back {
  font-size: 5rem;
}

.timer__num {
  color: var(--btn-color);
}
/* 키오스크메인페이지 리턴 버튼 */

.div__brw {
  margin-top: 10px;
  background-color: var(--background-color);
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 회원입력 관련 */
.div__user {
  width: 25vw;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 3px solid black;
  border-radius: 30px;
  background-color: var(--white-color);
  box-shadow: 5px 5px 1px 1px var(--accent-color);
}

.div__user__inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
  font-weight: 600;
}

.div__user__inputs > label {
  margin-right: 10px;
}

.div__user__inputs > input {
  width: 10vw;
  height: 8vh;
  border: 2px solid black;
  border-right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 1.2em;
}

.div__user__inputs > button {
  height: 100%;
  border: 2px solid black;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 1vw;
  font-weight: 600;
  cursor: pointer;
}

.div__user__data {
  float: right;
  margin-right: 100px;
  font-size: 1.5em;
}

.msg__no__member {
  margin-top: 20px;
}
/* 회원입력 관련 */

/* 도서입력 관련 */
.div__book {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
}

.div__book__input {
  width: var(--content-width);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border: 3px solid black;
  border-radius: 30px;
}

.div__book__input > label {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

.div__book__input > input {
  width: 60%;
  height: 100%;
  border: 0;
  font-size: 2em;
    border-left: 3px solid black;
  border-right: 3px solid black;
}

.div__book__input > button {
  width: 25%;
  height: 100%;

  border: 0;
  border-radius: 30px;
  cursor: pointer;
  font-size: 2em;
  display: flex;
  justify-content: center;
}

.div__book__data__list {
  width: var(--content-width);
  height: 50vh;
  border: 3px solid black;
  border-radius: 20px;
}

.btn__brw__ok {
  margin-top: 10px;
  width: var(--content-width);
  height: 100px;
  border-radius: 30px;
  border: 3px solid black;
  font-size: 2em;
  cursor: pointer;
}
/* 도서입력 관련 */

/* 도서대출 완료 메시지 */
.msg__success__brw {
  width: 20vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 1px 1px var(--accent-color);
}
/* 도서대출 완료 메시지 */

.hidden {
  display: none;
}

@media (max-width: 800px) {
}
