.div__a4 {
	display:flex;
}

.div__roll {
	display: flex;
}

.tagImg {
	display:block;
	width:200px;
}

.label__item {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	margin-right: 20px;
	border:1px solid #a8a8a8;
	border-radius: 6px;
	padding:2px;
}

/* 바코드, 청구기호 별도 타입 생성 div */
.sep__type__div{
	width:250px;
	height: 90px;
	border: 1px solid #a8a8a8;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
}